<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Checker</title>
    <meta name="description" content="A REST API for checking the latest stock prices of publicly traded companies.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#022140">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
  <div class="page-container">
  <!-- Header -->
  <div class="page-header">
    <!-- Logo -->
    <div id="logo" class="brand">
      <a href="/">Wilfred Morgan</a>
    </div>
    <!-- Navigation -->
    <nav class="navbar-nav">
      <a href="./public/docs.html">Documentation</a>
    </nav>

  </div>

  <!-- Main Body -->
    <div class="content">
      <!-- Home Page -->
      <section id="intro">
        <div class="container">
          <h1 id="headline">Stock Price Checker</h1>
          <div class="section-doc">
            <p>
              A REST API for checking the latest stock prices of publicly traded companies.
            </p>
          </div>
      
        </div>
      </section>
      <!-- Frontend -->
      <!-- Design based on: https://yagoestevez-stock-price-checker.glitch.me/ -->
      <section class="section">
        <!-- Test UI -->
        <div id="testui">
          <div class="form-wrapper">
            <h3 class="form-header">Get single price and total likes</h3>
            <form id="single-stock-form" class="form border">
              <input type="text" id="single-ticker" class="input-field-txt" name="stock" placeholder="goog" required=''>
              <div class="like-box">
                Like? &nbsp;<input type="checkbox" class="input-checkbox" name="like" value=true>
              </div>
              <button type="submit" class="search-btn">Search</button>
            </form>
          </div>
      
          <div class="form-wrapper">
            <h3 class="form-header">Compare two stock prices and their relative likes</h3>
            <form id="multi-stock-form" class="form border">
              <input type="text" class="input-field-txt" name="stock" placeholder="goog" required=''>
              <input type="text" class="input-field-txt" name="stock" placeholder="msft" required=''>
              <div class="like-box">
                Like both? &nbsp;<input type="checkbox" class="input-checkbox" name="like" value=true>
              </div>
              <button type="submit" class="search-btn">Search</button>
            </form>
          </div>
      
        </div>
        <code id='jsonResult' class="code"></code>
      </section>
      <section class="section" id="stock-data-credits">
        <p>Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s
            Terms of Use</a>.</p>
      
      </section>
    </div>
  
    <!-- Footer -->
    <footer class="footer">
      <div class="cta-group">
        <div class="cta-text">
          <p>Need help with your project?</p>
          <p>Reach out to me at
            <a href="mailto:wilfred@wilfredmorgan.com?subject=Question" class="contact-btn">wilfred@wilfredmorgan.com</a>
          </p>
        </div>
    
      </div>
    
      <div class="social-media-group">
        <div class="social-cta">
          <p>Connect with me:</p>
        </div>
        <div class="social-media-icons">
          <a href="https://www.linkedin.com/in/wilfredmorgan/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/wmemorgan" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:wilfred@wilfredmorgan.com?subject=Question" class="contact-btn">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
      <div id="copyright-info">
        <p><a href="https://wilfredmorgan.com">wilfredmorgan.com</a></p>
      </div>
    </footer>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/script.js"></script>        
  </body>
</html>
