/* Roboto Slab & Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/*--Basic color scheme--*/
:root {
  --dark-primary-color: #022140;
  --default-primary-color: #265077;
  --light-primary-color: #e4e5eb;
  --text-primary-color: #FFFFFF;
  --accent-color: #51a7f8;
  --primary-bg-color: #FFFFFF;
  --primary-text-color: #595959;
  --emphasis-text-color: #212121;
  --secondary-text-color: #1E4258;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #1E4258;
  --overlay-text-color: #ccc;
  --container-bg-color: #FCFCFC;
  --background-image: url(images/bg_code_corp_light.jpg); 
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.5;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Sans-Serif;
  letter-spacing: 0.042rem;
  background-color: var(--primary-bg-color);
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* .page-container {
  position: relative;
  min-height: 120vh;
} */

/*-----page header-----*/
.page-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: ; */
  z-index: 5;
  overflow: hidden;
  position: fixed;
  top: 0; 
  text-transform: uppercase;
  background: var(--dark-primary-color);
}

/*----logo----*/
.brand {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
}

.brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-primary-color);
  letter-spacing: 0.068em;
  text-decoration: none;
  text-align: left;
}

.navbar-nav {
  /* justify-self: end; */
  text-align: right;
  /* display: flex; */
  padding: 1rem;
}

.navbar-nav a {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  color: var(--text-primary-color);
  letter-spacing: 0.068em;
  text-decoration: none;
  padding: 0.25rem 0.68rem;
  border-radius: 0.3125rem;
}


.content {
  padding-bottom: 1rem;
}

#intro {
	padding-top: 3rem;
}

#headline {
  text-align: center;
  color: var(--default-primary-color);
	font-size: 4rem;
	padding-bottom: 1rem;
  text-transform: uppercase;
}

#subtitle {
	text-align: center;
	font-size: 1rem;
}

/*-----section----*/
section {
  margin: 2rem auto;
}

section .container {
  background: var(--container-bg-color);
  margin: 0 auto;
  /* padding: 2rem 0; */
}

.section-title {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  max-width: 991px;
  color: var(--dark-primary-color);
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-doc {
  color: var(--primary-text-color);
  max-width: 850px;
  padding: 0 10vw;
  text-align: left;
  margin: 0 auto;
}

.section-text {
  color: var(--primary-text-color);
  /* background: #C5CAE9; */
  max-width: 850px;
  padding: 0 0 0 10vw;
  text-align: left;
  margin: 0 auto;
}

/*-------Test UI------*/
#testui {
  /* width: 90%; */
  margin: 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-column-gap: 1rem;
}

/*-----Form-----*/
.form-header {
  color: var(--text-primary-color);
  background: var(--default-primary-color);
  text-align: center;
  padding: 0.5rem;
}

.form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 50px;
  grid-column-gap: 1rem;
  grid-gap: 1rem;
  padding: 2rem ;
  border: 1px solid var(--primary-text-color);
}

.input-field-txt {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 0.25rem;
  text-align: center;
  text-transform: uppercase;
}

#single-ticker {
  grid-column: span 2;
}

.like-box {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  background: var(--overlay-text-color);
  font-size: 0.75rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.search-btn {
  grid-column: span 3;
  background: var(--light-primary-color);
  border: 1px solid var(--primary-text-color);
  box-shadow: 1px 1px #999;
  cursor: pointer;
  border-radius: 0.25rem;
}

.search-btn:hover {
  background-color: #FFFEC4;
}



/* form {
  margin: 0 auto;
  padding: 1rem;
  background: var(--overlay-bg-color);
  display: block;
  width: 100%;
  max-width: 25rem;
	border-radius: 5px;
} */



.code {
  font-family: monospace;
  font-size: 1.2rem;
  background-color: var(--light-primary-color);
  padding: 0.25rem;
}

#jsonResult {
  width: 80%;
  margin: 2rem auto;
  justify-content: center;
  display: grid;
  grid-template-columns: auto;
}

#stock-data-credits {
  text-align: center;
}

/*----Documentation----*/
.docs-wrapper {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 100%;
}
.docs {
  display: inline-block;
  margin: 5rem auto;
  width: 90vw;
  height: 100vh;
  box-sizing: border-box;
}


/*-------footer------*/
footer {
  color: var(--text-primary-color);
  background-color: var(--dark-primary-color);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 1rem;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

footer * {
  color: var(--text-primary-color);
  text-decoration: none;
}

footer a:hover, footer button:hover{
  border-bottom: 2px solid var(--text-primary-color);
  border-radius: 0%;
  /* background-color: var(--text-primary-color);
  color: var(--dark-primary-color); */
}

footer .cta-btn {
  width: 30vw;
  font-weight: bold;
  color: var(--text-primary-color);
  background-color: var(--accent-color);
  border: 1px solid var(--text-primary-color);
  border-radius: 4px;
  margin-top: 0.3rem;
  padding: 0.5rem;
}

footer .social-media-group {
  text-align: center;
  font-size: 0.85rem;
}

footer .social-cta {
  font-size: 0.85rem;
  height: 1.25rem;
  
}

footer .social-media-icons {
  font-size: 1rem;
  /* padding: 0.5rem; */
  letter-spacing: 0.25rem;
}

footer .social-media-group {
  text-transform: uppercase;
}
footer #copyright-info {
  font-size: 0.85rem;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}


/*------Responsive design------*/
@media only screen and (max-width: 768px) {
	#intro {
		padding-top: 2rem;
	}

	#headline {
    font-size: 4.5vh;
	}
	
  section .container {
    padding: 0.25rem;
  }
  .docs-wrapper {
    width: 100%;
  }
  .docs {
    width: 100vw;
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 568px) {

  /*----home----*/
  .brand a {
    font-size: 1rem;
  }

  /*----navigation----*/
  .navbar-nav {
    padding: 0.5rem;
  }


  #headline {
    font-size: 4vh;
  }

  /*----section----*/
  .section-text {
    padding: 0 5vw;
	}
	
	.section-text code {
		font-size: 0.9rem;
  }
  
  /*-------Test UI------*/
  #testui {
    grid-template-columns: repeat(auto-fit, 350px);
  }

  /*---footer----*/
  footer {
    /* margin-top: 0; */
    font-size: 0.75rem;
  }

  footer .cta-btn {
    width: 40vw;  
    font-size: 0.75rem;  
    padding: 0.25rem 0.5rem;
  }

  footer .social-media-group {
    padding: 0;
  }

  footer .social-media-icons {
    padding: 0;
    text-align: center;
    letter-spacing: 0.5rem;
  }

  footer .social-cta {
    display: none;
  }


}